@font-face{
       font-family: pixel;
       src: local(my_custom_font), url('./fonts/minecraftia.ttf')    
             format('opentype');
}
body {
	background-image:url('./img/clouds.png');
	color: #ffffff;
	font-family: pixel;
}
table, td, th{
	border:0px solid black;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
td{
	padding:0px;
	vertical-align:top;
}
tr{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	max-width:700px;
}

#center{
	font-size:200%;
	text-align:center;
}

#content{
	max-width:700px;
	color:#ffffff;
	background-color:#000084;
	text-align:left;
	border: 11px double orange;
	border-image:url('./img/borders.png') 110 110 110 110 round;
}
#content2{
	max-width:339px;
	color:#ffffff;
	background-color:#000084;
	text-align:left;
	border: 11px double orange;
	border-image:url('./img/borders.png') 110 110 110 110 round;
}

#button{
	padding:0px;
	background-color: #fca044;
	border: 2px solid #ffffff;
	color:#000;
	text-decoration:none;
	font-size:90%;
}
#name{
	color:#fca044;
}
#bottom{
	position: fixed; 
	width:100%;
	height:50px;
	left:0;
	bottom:0; 
	background-image: url('./img/brick.jpg');
	font-size:90%;
	text-align:right;
}
